 .u-section-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.15), rgba(0,0,0,0.15)), url("images/3b91742c7e026b49e43d4d9e3bc6edf4.jpeg");
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 1016px;
}

.u-section-1 .u-text-1 {
  font-weight: 400;
  font-size: 3rem;
  margin: 60px auto 0;
}

.u-section-1 .u-text-2 {
  margin: 20px auto 0;
}

.u-section-1 .u-layout-wrap-1 {
  margin-top: 60px;
  margin-bottom: 40px;
}

.u-section-1 .u-image-1 {
  background-image: url("images/DSC_8505-550x367.jpg");
  min-height: 317px;
  background-position: 50% 50%;
}

.u-section-1 .u-container-layout-1 {
  margin-bottom: 0;
  padding: 30px;
}

.u-section-1 .u-layout-cell-2 {
  min-height: 317px;
}

.u-section-1 .u-container-layout-2 {
  margin-bottom: 0;
  padding: 30px 23px;
}

.u-section-1 .u-text-3 {
  text-transform: none;
  margin: 26px 14px 0 0;
}

.u-section-1 .u-text-4 {
  font-style: italic;
  margin: 12px 7px 0;
}

.u-section-1 .u-btn-1 {
  border-style: none;
  font-weight: 700;
  font-size: 0.875rem;
  letter-spacing: 0px;
  text-transform: uppercase;
  margin: 0 auto 0 205px;
  padding: 0;
}

.u-section-1 .u-image-2 {
  min-height: 367px;
  background-image: url("images/cropped-DSC_8846-1.jpg");
}

.u-section-1 .u-container-layout-3 {
  padding: 0;
}

.u-section-1 .u-layout-cell-4 {
  min-height: 367px;
}

.u-section-1 .u-container-layout-4 {
  padding: 30px;
}

.u-section-1 .u-text-5 {
  text-transform: none;
  margin: 50px 0 0;
}

.u-section-1 .u-text-6 {
  font-style: italic;
  margin: 26px 0 0;
}

.u-section-1 .u-btn-2 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-btn-3 {
  border-style: none;
  font-weight: 700;
  font-size: 0.875rem;
  letter-spacing: 0px;
  text-transform: uppercase;
  margin: -23px auto 0;
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 891px;
  }

  .u-section-1 .u-layout-cell-2 {
    background-position: 50% 50%;
    min-height: 261px;
  }

  .u-section-1 .u-text-3 {
    margin-right: 0;
  }

  .u-section-1 .u-text-4 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-btn-1 {
    margin-left: 105px;
  }

  .u-section-1 .u-image-2 {
    min-height: 303px;
  }

  .u-section-1 .u-layout-cell-4 {
    min-height: 303px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 743px;
  }

  .u-section-1 .u-image-1 {
    min-height: 200px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-1 .u-btn-1 {
    margin-left: 0;
  }

  .u-section-1 .u-image-2 {
    min-height: 232px;
  }

  .u-section-1 .u-container-layout-3 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-1 .u-layout-cell-4 {
    min-height: 100px;
  }

  .u-section-1 .u-container-layout-4 {
    padding-left: 20px;
    padding-right: 20px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1998px;
  }

  .u-section-1 .u-image-1 {
    min-height: 450px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-image-2 {
    min-height: 348px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1389px;
  }

  .u-section-1 .u-text-1 {
    font-size: 2.25rem;
  }

  .u-section-1 .u-image-1 {
    min-height: 283px;
  }

  .u-section-1 .u-image-2 {
    min-height: 219px;
  }
}